@charset "utf-8";
/* CSS Document */

/*-----\\-----*/

#how-it-works-scheme
{
    display: none;
}

.center .wrapper hr
{
    height: 2px;
    border-top: 1px solid #d8d8d5;
    border-bottom: 1px solid #ffffff;
    padding: 0;
    margin: 0;
}

.center .slogan-bl
{
    font-family: 'Helvetica-Roman';
    font-size: 16pt;
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0 0 30px 0;  
    line-height: 115%;
    background-image: url(../img/agents/icon-big-agents.png);
    background-repeat: no-repeat;
    background-position: 780px -10px;

}

.center .slogan-bl strong
{
    font-family: 'Helvetica-Bold';
}

.center .video-bl
{
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0 0 0 0;  
    margin-bottom: 30px;
    border: 3px solid #d0d0d0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.center .video-bl .top-icon
{
    position: absolute;
    background-image:url(../img/places/icon-play.png);
    background-repeat:no-repeat;
    width: 44px;
    height: 39px;
    top: -21px;
    left: 450px;
}

.center .video-bl .container
{
    padding: 40px 0 40px 0;     
}


.center .how-bl
{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;  
    background-image:url(../img/agents/icon-bar-bg.png);
    background-repeat: repeat-x;
}

.center .how-bl .wrapper
{
    background-image:url(../img/agents/icon-money.png);
    background-repeat:no-repeat;
    background-position: 440px 0px;
    padding: 70px 0 0 0;
    text-align: center;
}

.center .how-bl .wrapper .box-link-to-big-scheme
{
    margin: 0 auto;
    width: 670px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    background-image:url(../img/agents/box-link-scheme-bg.gif);
    height: 26px;
    -moz-box-shadow: 1px 2px 3px #dbdbdb;
    -webkit-box-shadow: 1px 2px 3px #dbdbdb;
    box-shadow: 1px 2px 3px #dbdbdb;
    padding-top: 7px;
}

.center .how-bl .wrapper .box-link-to-big-scheme a:link,
.center .how-bl .wrapper .box-link-to-big-scheme a:visited
{
    color: #2586c7;
    text-decoration: none;
    border-bottom: 1px dotted #2586c7;
}

.center .how-bl .wrapper .box-link-to-big-scheme a:hover
{
    border-bottom: none;
}

.center .how-bl .wrapper .small-scheme-bl
{
    padding: 20px 0 40px 0;
}

.center .how-bl .wrapper .small-scheme-bl ul li
{
    float: left;
    list-style: none;
    width: 20%;
    color: #444444;
    background-image:url(../img/places/arrow-right.png);
    background-repeat:no-repeat;
    background-position: 0 45px;
}

.center .how-bl .wrapper .small-scheme-bl ul li.first
{
    background-image:url(../img/places/arrow-right-first.png);
    background-repeat:no-repeat;
    background-position: 0 45px;
}

.center .how-bl .wrapper .small-scheme-bl ul li.last
{
    background-image:url(../img/places/arrow-right-last.png);
    background-repeat:no-repeat;
    background-position: 0 45px;
}

.center .how-bl .wrapper .small-scheme-bl ul li p
{
    padding-top: 20px;
    font-size: 13px;
}

.center .who-bl
{
    height: 507px;
    background-image:url(../img/agents/blue-bl-bg.png);
    background-repeat: repeat-x;
    position: relative;
}

.center .who-bl .wrapper h1
{
    font-family: 'Helvetica-Bold';
    color: white;
    text-shadow: none;
    font-weight: bold;
    text-align: center;
    padding: 25px 0px 0px 0px;
}

.center .who-bl .wrapper .blue-box h1,
.center .who-bl .wrapper .blue-box-slider h1
{
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 19px;    
    font-family: Arial, Helvetica, sans-serif;
}

.center .who-bl .wrapper .blue-box
{
    position: absolute;
    background-image:url(../img/agents/who-blue-box-left-bg.png);
    background-repeat: no-repeat;
    height: 389px;
    width: 302px;
    top: 82px;
    left: 0px;

}

.center .who-bl .wrapper .blue-box h1
{
    padding: 10px 0px 0px 28px; 
}

.center .who-bl .wrapper .blue-box ul
{
    position: absolute;
    top: 60px;
    left: 28px;
    list-style-type: none;
    width: 250px;
}

.center .who-bl .wrapper .blue-box ul li
{
    position: relative;
    display: block;
    height: 30px;
    padding: 0px;
    font-size: 16px;
    text-decoration: none;
}

.center .who-bl .wrapper .blue-box ul li .active
{
    display: none;
}

.center .who-bl .wrapper .blue-box ul li:hover .active,
.center .who-bl .wrapper .blue-box ul li.selected .active
{
    position: absolute;
    display: block; 
    width: 310px;
    height: 38px;
    background-image:url(../img/agents/who-active-link-bg.png);
    background-repeat:no-repeat;
    top: -4px;
    left: -37px;
    z-index: 115;
}

.center .who-bl .wrapper .blue-box ul li a:link,
.center .who-bl .wrapper .blue-box ul li a:visited
{
    display: block;
    z-index: 125;
    position: relative;
    text-decoration: none;
    color: white;
}

.center .who-bl .wrapper .blue-box ul li a:link span,
.center .who-bl .wrapper .blue-box ul li a:link visited
{
    border-bottom: 1px dotted white;
}

.center .who-bl .wrapper .blue-box ul li:hover a,
.center .who-bl .wrapper .blue-box ul li:hover a span,
.center .who-bl .wrapper .blue-box ul li.selected a,
.center .who-bl .wrapper .blue-box ul li.selected a span
{
    border-bottom: none;
    color: black;
}

.center .who-bl .wrapper .blue-box-slider
{
    position: absolute;
    z-index: 110;
    background-image:url(../img/agents/who-blue-box-right-bg.png);
    background-repeat: none;
    width: 650px;
    height: 353px;
    top: 85px;
    left: 285px;
}

.center .who-bl .wrapper .blue-box-slider .where h1
{
    background-image: url(../img/agents/icon-where.png);
    background-repeat:no-repeat;
    padding-left: 32px;
    background-position: 0px 5px;
}

.center .who-bl .wrapper .blue-box-slider .medium h1
{
    background-image: url(../img/agents/icon-mediums.png);
    background-repeat:no-repeat;
    padding-left: 30px;
    background-position: 0px 5px;
}


.center .who-bl .wrapper .blue-box-slider .where
{
    top: 10px;
    left: 35px;
    position: absolute;
    width: 280px;
    color: white;   
}

.center .who-bl .wrapper .blue-box-slider .where ul
{
    list-style-position:outside;
    padding-left: 32px;
}

.center .who-bl .wrapper .blue-box-slider .where ul li
{
    font-size: 15px;
    padding-bottom: 20px;
}

.center .who-bl .wrapper .blue-box-slider .where ul,
.center .who-bl .wrapper .blue-box-slider .medium ul
{
    display: none;
}

.center .who-bl .wrapper .blue-box-slider .where ul.show,
.center .who-bl .wrapper .blue-box-slider .medium ul.show
{
    display: block;
}


.center .who-bl .wrapper .blue-box-slider .medium
{
    font-size: 15px;
    top: 10px;
    left: 337px;
    position: absolute;
    width: 280px;   
    color: white;
}

.center .who-bl .wrapper .blue-box-slider .medium ul
{
    list-style: none;
    padding-left: 30px;
}

.center .who-bl .wrapper .blue-box-slider .medium ul li
{
    font-size: 15px;
    padding-bottom: 15px;
}

.center .why-bl
{
    position: relative;
    background: url("../img/bg-02.png") repeat-x 0 0;
    height: 645px;
}

.center .why-bl .register
{
    z-index: 100;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    margin-left: -102px;
    width: 204px;
    top: -37px;
    height: 64px;
    background-image:url(../img/agents/reg-btn-bg.png);
    background-repeat:no-repeat;
    background-position-y: 0px;
    padding-top: 6px;
}

.center .why-bl .wrapper
{
    z-index: 99;
    padding: 60px 0px 50px 0px;
    text-align: center;
}

.center .why-bl .wrapper .blocks-container
{
    padding: 10px 0 0 0;
}

.center .why-bl .wrapper .blocks-container .block
{
    width: 250px;
    height: 222px;
    float: left;
    
    padding: 10px 10px 0px 10px;

    margin-bottom: 15px;
    
    margin-right: 50px;
    text-align: left;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-box-shadow: 1px 2px 2px #dbdbdb;
    -webkit-box-shadow: 1px 2px 2px #dbdbdb;
    box-shadow: 1px 2px 2px #dbdbdb;
    
    background: white;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#e1e1e1));
    background: -webkit-linear-gradient(#FFFFFF, #e1e1e1);
    background: -moz-linear-gradient(#FFFFFF, #e1e1e1);
    background: -ms-linear-gradient(#FFFFFF, #e1e1e1);
    background: -o-linear-gradient(#FFFFFF, #e1e1e1);
    background: linear-gradient(#FFFFFF, #e1e1e1); 
    -pie-background: linear-gradient(#FFFFFF, #e1e1e1); 
}

.center .why-bl .wrapper .blocks-container .last-in-row { margin-right: 0px; }

.center .why-bl .wrapper .blocks-container .block h1
{
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;    
    font-weight: bold;
    padding: 0 0 0 35px;
}

.center .why-bl .wrapper .blocks-container .block .icon { position: absolute;  background-image: url('../img/agents/icons-why.png'); background-repeat: no-repeat; }

.center .why-bl .wrapper .blocks-container .block-1 .icon
{
    top: 7px;
    left: 6px;
    background-position: 0px 0px;
    width: 25px;
    height: 21px;
}

.center .why-bl .wrapper .blocks-container .block-2 .icon
{
    top: 5px;
    left: 5px;
    background-position: -1px -31px;
    width: 25px;
    height: 25px;
}


.center .why-bl .wrapper .blocks-container .block-3 .icon
{
    top: 8px;
    left: 6px;
    background-position: -1px -65px;
    width: 22px;
    height: 23px;
}


.center .why-bl .wrapper .blocks-container .block-4 .icon
{
    top: 8px;
    left: 6px;
    background-position: -1px -92px;
    width: 21px;
    height: 21px;
}

.center .why-bl .wrapper .blocks-container .block-5 .icon
{
    top: 8px;
    left: 6px;
    background-position: -1px -123px;
    width: 22px;
    height: 23px;
}

.center .why-bl .wrapper .blocks-container .block-6 .icon
{
    top: 7px;
    left: 6px;
    background-position: -1px -154px;
    width: 22px;
    height: 23px;
}


.center .why-bl .wrapper .blocks-container .block p
{
    padding: 0 0 0 15px;
    margin: 0;
    font-size: 15px;    
    line-height: 130%;
}

.center .materials-bl
{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;  
    background-image:url(../img/agents/icon-bar-bg.png);
    background-repeat: repeat-x;
}

.center .materials-bl .wrapper
{
    background-image:url(../img/agents/icon-materials.png);
    background-repeat:no-repeat;
    background-position: 440px 0px;
    padding: 60px 0 50px 0;
    text-align: center;
}

.center .materials-bl .wrapper h1
{
    padding-bottom: 30px;
}

.center .materials-bl .wrapper p
{
    font-size: 15px;
    line-height: 135%;
    padding: 0px 0px 40px 0px;
}

.center .materials-bl .wrapper ul
{
    list-style: none;
}

.center .materials-bl .wrapper ul li
{
    float: left;
    width: 280px;
    padding-right: 50px;
    text-align: center;
    font-style: italic;
    font-size: 13px;
    line-height: 160%;
}

.center .materials-bl .wrapper ul li.last
{
    padding-right: 0px;
}

.center .materials-bl .wrapper ul li hr
{
    width: 110px;
    height: 4px;
    background-color: #4a8dcc;
    padding: 0 0 0 0;
    margin: 12px 0 12px 85px;
}


.center .bottom-bl
{
    margin-top: 20px;
    padding-top: 30px;
    height: 300px;
    border-top: 5px solid #e1e1e1;
    border-bottom: 5px solid #e1e1e1;	
}

.center .bottom-bl .wrapper .text-logo
{
    font-family: 'Helvetica-Roman';
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    height: 90px;
    text-align: right;
    padding: 10px 327px 0px 0px;
    background-image:url(../img/places/logo-bottom.png);
    background-repeat:no-repeat;
    background-position: 650px top;
    
}

.center .bottom-bl .wrapper .final-step
{
    padding-top: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 110%;
}

.center .bottom-bl .wrapper .btn
{
    padding-top: 25px;
    width: 187px;
    margin: 0 auto;
}

.center .faq-bl
{
    margin-top: 20px;
    padding-top: 30px;
    height: 130px;
}

.center .faq-bl .box
{
	border: 1px solid #dbdbdb;
	height: 43px;
	text-align: center;
	font-size: 20px;
	padding-top: 22px;
	position: relative;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    background: white;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eeeeee), to(#dbdbdb));
    background: -webkit-linear-gradient(#eeeeee, #dbdbdb);
    background: -moz-linear-gradient(#eaeaea, #dbdbdb);
    background: -ms-linear-gradient(#eaeaea, #dbdbdb);
    background: -o-linear-gradient(#eaeaea, #dbdbdb);
    background: linear-gradient(#eaeaea, #dbdbdb); 
    -pie-background: linear-gradient(#eaeaea, #dbdbdb); 
}

.center .faq-bl .box a:link,
.center .faq-bl .box a:visited
{
	color: #007dc3;
}

.center .faq-bl .box .quote-l,
.center .faq-bl .box .quote-r
{
	position: absolute;
	background-image:url(../img/agents/more-q-qtop.png);
	background-repeat:no-repeat;
	width: 26px;
	height: 24px;
}

.center .faq-bl .box .quote-l
{
	top: 3px;
	left: 3px;
}

.center .faq-bl .box .quote-r
{
	background-image:url(../img/agents/more-q-qdown.png);
	width: 25px;
	height: 24px;
	bottom: 3px;
	right: 3px;
}

.center .faq-bl .box .ling
{
	position: absolute;
	background-image: url(../img/agents/q-box-ling.png);
	background-repeat:no-repeat;
	width: 26px;
	height: 12px;
	bottom: -12px;
	right: 100px;
}



/* Scheme */

#how-it-works-scheme
{
    width: 940px;
    text-align:center;
}

#how-it-works-scheme.center .box-how-it-works-link
{
    margin: 0 auto;
    width: 600px;
    height: 33px;
    padding-top: 12px;
    font-size: 15px;    
    font-style:italic;
    border: 4px solid #e1e1e1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    text-align:center;
}

#how-it-works-scheme.center .box-how-it-works-link a:link,
#how-it-works-scheme.center .box-how-it-works-link a:visited
{
    color: #007cc3;
}

/* Materials windows */

#window-material-1
{
	with: 940px;	
}