@charset "utf-8";
/* CSS Document */

.lightmebox
{
    display: none;
    position: relative;
    padding: 35px;
    background-color: white;
    border: 7px solid #dbdbdb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.lightmebox .btn-lightbox-close
{
    position: absolute;
    top: 0px;
    right: -6px;
    background-image:url(../img/btn-lightbox-close.gif);
    width: 26px;
    height: 27px;
}




.center .breadcrumbs
{
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0 0 20px 0;  
    color: #b2b2b2;
    font-size: 8pt;
}

.center .breadcrumbs .current
{
    font-family: 'Helvetica-Bold';
    color: #444444;
    font-size: 22pt;
    padding-right: 7px;
}

.center .breadcrumbs a:link,
.center .breadcrumbs a:visited
{
    color: #999999;
    padding-left: 4px;
}


/* Glex work scheme */

.center .scheme-bl
{
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0 0 0px 0;  
    text-align: center;
    background-image:url(../img/howitworks-scheme.png);
    background-repeat: no-repeat;
    height: 458px;
    background-position: 57px 0px;
}

.center .scheme-bl .title-agent,
.center .scheme-bl .title-place,
.center .scheme-bl .title-tourist
{
    position: absolute;
    font-size: 14px;
}

.center .scheme-bl .title-agent
{
    top: 180px;
    right: 80px;
    color: #65b15b;
}


.center .scheme-bl .title-place
{
    top: 180px;
    left: 71px;
    color: #ee7b31;
}

.center .scheme-bl .title-tourist
{
    top: 405px;
    left: 455px;
    color: #dc3d3d;
}

.center .scheme-bl .box-step
{
    position: absolute; 
    width: 214px;
    text-align: left;
    font-size: 12px;
    z-index:101;
}

.center .scheme-bl .box-step:hover { cursor:pointer; }
.center .scheme-bl .box-step-1 { top: 19px; left: 193px; width: 211px;}
.center .scheme-bl .box-step-2 { top: 23px; right: 159px; width: 202px; }
.center .scheme-bl .box-step-3 { top: 294px;    right: 155px; }
.center .scheme-bl .box-step-4 { top: 278px;    left: 193px; width: 200px;}
.center .scheme-bl .box-step-5 { top: 177px;    left: 193px; }
.center .scheme-bl .box-step-6 { top: 174px;    right: 155px;}

.center .scheme-bl .hi-box-step
{
    display: none;
    position:absolute;
    z-index: 100;
    cursor: pointer;
    width: 250px;
    background-repeat: no-repeat;
}

.center .scheme-bl .show-hi-box
{
    display: block;
}

.center .scheme-bl .hi-box-step-1
{
    top: 0px;
    left: 166px;
    background-image:url(../img/scheme-hi-boxes.png);
    height: 89px;
}

.center .scheme-bl .hi-box-step-2
{
    top: 5px;
    right: 132px;
    background-image:url(../img/scheme-hi-boxes.png);
    height: 83px;
    background-position: 0px -92px;
}


.center .scheme-bl .hi-box-step-3
{
    top: 287px;
    right: 133px;
    background-image:url(../img/scheme-hi-boxes.png);
    height: 81px;
    background-position: 0px -188px;
}


.center .scheme-bl .hi-box-step-4
{
    top: 273px;
    left: 167px;
    background-image:url(../img/scheme-hi-boxes.png);
    height: 95px;
    background-position: 0px -276px;
}


.center .scheme-bl .hi-box-step-5
{
    top: 158px;
    left: 166px;
    background-image:url(../img/scheme-hi-boxes.png);
    height: 81px;
    background-position: 0px -384px;
}

.center .scheme-bl .hi-box-step-6
{
    top: 157px;
    right: 145px;
    background-image:url(../img/scheme-hi-boxes.png);
    height: 74px;
    background-position: 0px -472px;
}

.center .after-scheme
{
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0 0 32px 0;  
    text-align: center;
    font-size: 15px;
}


/* Customized select */
.custom-select {}
    .custom-select [class ^= sel-] {position: relative; z-index: 900;}
    .custom-select [class ^= sel-] .switch { display:block;position: relative;z-index: 100;height: 34px; width: 300px;  background: url("../img/form-01.png") no-repeat left top;  color: #888888;font-size: 11px;line-height: 32px;text-decoration: none;  cursor: pointer;}
    .custom-select [class ^= sel-] .switch > span {display:block;float: left;height: 34px;margin: 0 -34px 0 0;padding: 0 215px 0 9px;  background: url("../img/form-01.png") no-repeat right -34px;}
    .custom-select [class ^= sel-] .switch > span span {display:block;height: 34px; overflow: hidden;  white-space: nowrap;}

    .custom-select [class ^= sel-] .dd {display: none;position: absolute;z-index: 0;top: 29px;margin: 0 -34px 0 0;  list-style: none;}
    .custom-select [class ^= sel-] .dd li {display: block;padding: 0 1px 0 1px;}
    .custom-select [class ^= sel-] img {position: relative;top: 2px;margin: 0 7px 0 0;}
    .custom-select [class ^= sel-] .dd a {display: block; padding: 8px 7px 6px 7px;  border: 1px solid #E5E5E5;border-top: none;background: #FFFFFF;  color: #888888;font-size: 11px;line-height: 16px;text-decoration: none; }
    .custom-select [class ^= sel-] .dd a:hover {background: #E8E8E8;  color: #555555;}
    .custom-select [class ^= sel-] .dd .selected {display: none;}

    .custom-select .sel-sm-cont .switch > span span {width: 78px !important;}
    .custom-select .sel-sm-cont .dd a { width: 284px; }

.custom-select [class ^= sel-] .dd .last 
{
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -khtml-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}


div.custom-checkbox-wrapper {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 0px;
    left: 0px;
    z-index: 50;
}

div.custom-checkbox-wrapper a.custom-checkbox {
    background: transparent url('../img/custom-checkbox.png') repeat scroll 0px 0px;
    display: block;
    width: 23px;
    height: 23px;
    cursor: default;
    outline: none;
}

div.custom-checkbox-wrapper a.custom-checkbox-on {
    background-position: 0px 20px;
}