@charset "utf-8";
/* CSS Document */

/* Add shadows to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.qtip-glex-shadow
{
    -webkit-box-shadow: 0px -5px 30px #cccccc;
    -moz-box-shadow: 0px -5px 30px #cccccc;
    box-shadow: 0px -5px 30px  #aeaeae;
}

/* Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.qtip-glex
{
    border: 2px solid #cccccc;  
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.qtip-glex .qtip-content
{
    font-size: 15px;
    line-height: 120%;
    background-color: white;
    padding: 20px;
}


/* Error */

/* Add shadows to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.qtip-glex-error-shadow
{
    -webkit-box-shadow: 0px 1px 2px #aeaeae;
    -moz-box-shadow: 0px 1px 2px #aeaeae;
    box-shadow: 0px 1px 2px  #aeaeae;
}
.qtip-glex-error
{
    border: 1px solid #a93c3c;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.qtip-glex-error .qtip-content
{
    font-size: 14px;
    line-height: 120%;
    background-color: #e25555;
    color: white;
    padding: 10px;
    text-shadow: 1px 1px 0 #ab5346;
}