@charset "utf-8";
/* CSS Document */

/*-----\\-----*/
.center .title-bl .wrapper
{ 
    padding: 0 0 32px 0;  
}

.center .title-bl h1
{
    font-size: 37pt;
    text-align:center;
}

.center .title-bl .buble
{
    text-align:center;
    position: relative;
    margin: 0 auto;
    height: 23px;
    width: 350px;
    padding-top: 5px;
    border: 3px #cccccc solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    font-size: 15px;
}


.center .title-bl .buble .lug
{
    position: absolute;
    bottom: -10px;
    right: 175px;
    width: 12px;
    height: 10px;
    background-image:url(../img/box-1-lung.png);
    background-repeat: no-repeat;
}




.center .detail
{
    background-image:url(../img/bg-top-detail.png);
    background-repeat:repeat-x;
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 0;  
    text-align: center;
    font-size: 15px;
}

.center .detail-title
{
    background-image:url(../img/box-detail-bg.png);
    background-repeat: no-repeat;
    width: 569px;
    height: 86px;
    margin: 0 auto;
    color: #777777;
    font-size: 24px;
    font-family: 'Helvetica-Bold';
    padding-top: 23px;
}

.center .detail .wrapper 
{
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0 0 0 0;
}


.center .detail .wrapper a.box-back-to-scheme:link,
.center .detail .wrapper a.box-back-to-scheme:visited
{
    z-index: 55;
    top: 10px;
    left: 250px;
    position: absolute;
    display: none;
    width: 145px;
    padding: 0 0 0 0;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    background-color: #4bb53c;
    height: 24px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    background-image: url(../img/back-to-scheme-arrow.gif);
    background-repeat:no-repeat;
    background-position: top right;
}

.center .detail .wrapper .box-back-to-scheme span
{
    margin-right: 10px;
    border-bottom: 1px dotted white;    
}

.center .detail .wrapper .box-back-to-scheme span:hover
{
    border-bottom: none;
}



.center .detail .wrapper .step
{
    z-index: 50;
    position:relative;
    padding-bottom: 25px;
}


.center .detail .wrapper .text
{
    float: left;
    padding-top: 70px;
    width: 383px;
    color: #444444;
    text-align: left;
    line-height: 140%;
}

.center .detail .wrapper .num
{
    position: absolute;
    top: 0;
    left: 0;
}


.center .detail .wrapper .image
{
    position: relative;
    float: right;
    width: 480px;
    color: #444444;
}

.center .detail .wrapper .place,
.center .detail .wrapper .agent,
.center .detail .wrapper .tourist
{
    position: absolute;
    font-size: 13px;
}

.center .detail .wrapper .place { color: #ee7b31; }
.center .detail .wrapper .agent { color: #65b15b; }
.center .detail .wrapper .tourist { color: #dc3d3d; }


#step-1 .place
{
    top: 110px;
    left: 17px;
}

#step-2 .agent
{
    top: 113px;
    left: 27px;
}

#step-3 .agent
{
    top: 133px;
    left: 27px;
}

#step-3 .tourist
{
    top: 133px;
    left: 399px;
}

#step-4 .tourist
{
    top: 214px;
    left: 25px;
}

#step-4 .place
{
    top: 214px;
    left: 385px;
}


#step-5 .place
{
    top: 101px;
    left: 19px;
}

#step-6 .agent
{
    top: 134px;
    left: 27px;
}




.center .detail .wrapper hr
{
    background-image:url(../img/detail-hr.png);
    background-repeat:no-repeat;
    width: 940px;
    height: 26px;
    border: 0px;
    padding: 0px 0px 15px 0px;  
}

.center .detail-register
{
    background-image:url(../img/bg-detail-register.png);
    background-repeat:repeat-x;
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 0;  
    text-align: center;
    font-size: 15px;
}


.center .detail-register .wrapper 
{
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 80px 0 80px 0;
}

.center .detail-register .semaphor
{
    font-size: 17px;
    color: #444444;
    line-height: 130%;
}

.center .detail-register .semaphor .box-links
{
    border: 3px #cccccc solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    width: 500px;
    height: 54px;
    margin: 0 auto;
    margin-top: 25px;
}

.center .detail-register .agents
{
    padding-top: 15px;
    float: left;
    text-align: center;
    width: 250px;
}

.center .detail-register .places
{
    padding-top: 15px;  
    float: right;
    text-align: center;
    width: 250px;   
}

.center .detail-register .box-links a:link,
.center .detail-register .box-links a:visited
{
    font-family: 'Helvetica-Roman';
    color: black;
    padding-left: 30px; 
    background-repeat:no-repeat;
}

.center .detail-register .box-links a:hover
{
    color: #5dbb50;
}


.center .detail-register .box-links .agents a:link
{
    background-image:url(../img/icon-small-agents.png);
}

.center .detail-register .box-links .agents a:hover
{
    background-image:url(../img/icon-small-agents-h.png);
}

.center .detail-register .box-links .places a:link
{
    background-image:url(../img/icon-small-places.png);
    padding-left: 32px;     
}

.center .detail-register .box-links .places a:hover
{
    color: #ee7b31;
    background-image:url(../img/icon-small-places-h.png);
}

.center .detail-register .register-block
{
    padding: 60px 0px 80px 0px;
}

.center .detail-register .register-block .btn
{
    padding-top: 25px;
    width: 187px;
    margin: 0 auto;
}
