@charset "utf-8";
/* CSS Document */

/*-----\\-----*/

#how-it-works-scheme
{
    display: none;
}

.center .wrapper hr
{
    height: 2px;
    border-top: 1px solid #d8d8d5;
    border-bottom: 1px solid #ffffff;
    padding: 0;
    margin: 0;
}

.center .slogan-bl
{
    font-family: 'Helvetica-Roman';
    font-size: 16pt;
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0 0 30px 0;  
    line-height: 115%;
    background-image: url(../img/places/icon-place-big.png);
    background-repeat: no-repeat;
    background-position: 780px 30%;
}

.center .slogan-bl strong
{
    font-family: 'Helvetica-Bold';
}

.center .video-bl
{
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0 0 0 0;  
    margin-bottom: 30px;
    border: 3px solid #d0d0d0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.center .video-bl .top-icon
{
    position: absolute;
    background-image:url(../img/places/icon-play.png);
    background-repeat:no-repeat;
    width: 44px;
    height: 39px;
    top: -21px;
    left: 450px;
}

.center .video-bl .container
{
    padding: 40px 0 40px 0;     
}


.center .how-bl
{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;  
    background-image:url(../img/places/icon-bar-bg.png);
    background-repeat: repeat-x;
}

.center .how-bl .wrapper
{
    background-image:url(../img/places/icon-money.png);
    background-repeat:no-repeat;
    background-position: 440px 0px;
    padding: 70px 0 0 0;
    text-align: center;
}

.center .how-bl .wrapper .box-link-to-big-scheme
{
    margin: 0 auto;
    width: 670px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    background-image:url(../img/places/box-link-scheme-bg.gif);
    height: 26px;
    -moz-box-shadow: 1px 2px 3px #dbdbdb;
    -webkit-box-shadow: 1px 2px 3px #dbdbdb;
    box-shadow: 1px 2px 3px #dbdbdb;
    padding-top: 7px;
}

.center .how-bl .wrapper .box-link-to-big-scheme a:link,
.center .how-bl .wrapper .box-link-to-big-scheme a:visited
{
    color: #2586c7;
    text-decoration: none;
    border-bottom: 1px dotted #2586c7;
}

.center .how-bl .wrapper .box-link-to-big-scheme a:hover
{
    border-bottom: none;
}

.center .how-bl .wrapper .small-scheme-bl
{
    padding: 20px 0 40px 0;
}

.center .how-bl .wrapper .small-scheme-bl ul li
{
    float: left;
    list-style: none;
    width: 20%;
    color: #444444;
    background-image:url(../img/places/arrow-right.png);
    background-repeat:no-repeat;
    background-position: 0 45px;
}

.center .how-bl .wrapper .small-scheme-bl ul li.first
{
    background-image:url(../img/places/arrow-right-first.png);
    background-repeat:no-repeat;
    background-position: 0 45px;
}

.center .how-bl .wrapper .small-scheme-bl ul li.last
{
    background-image:url(../img/places/arrow-right-last.png);
    background-repeat:no-repeat;
    background-position: 0 45px;
}

.center .how-bl .wrapper .small-scheme-bl ul li p
{
    padding-top: 20px;
    font-size: 13px;
}

.center .who-bl .wrapper
{
    padding: 40px 0 70px 0;
    text-align: center;
    font-size: 16px;
}

.center .who-bl .wrapper .who-scheme
{
    position: relative;
    margin: 35px 0 0 0;
    background-image:url(../img/places/a2p-scheme.png);
    background-repeat:no-repeat;
    background-position: center;
    height: 570px;  
}

.center .who-bl .wrapper .who-scheme .ru-title-bg
{
    position: absolute;
    background-image:url(../img/places/a2p-scheme-titles-ru.png);
    background-repeat: no-repeat;
    width: 243px;
    height: 378px;
    top: 100px;
    left: 341px;
}

.center .who-bl .wrapper .who-scheme .title-agents,
.center .who-bl .wrapper .who-scheme .title-places
{
    font-family: 'Helvetica-Black';
    position: absolute;
    font-size: 24px;
}

.center .who-bl .wrapper .who-scheme .title-agents { top: 47px; left: 167px; }
.center .who-bl .wrapper .who-scheme .title-places { top: 47px; left: 676px; }
.center .who-bl .wrapper .who-scheme .title-tourists { position: absolute; color: #dc3d3d; top: 311px; left: 444px; font-size: 14px }

.center .who-bl .wrapper .who-scheme ul.list-agents 
{
    text-align: right;
    position: absolute;
    top: 91px;
    left: -7px;
}

.center .who-bl .wrapper .who-scheme ul.list-agents li
{
    list-style: none;
    height: 47px;
    font-size: 15px;
}

.center .who-bl .wrapper .who-scheme ul.list-agents li a:link,
.center .who-bl .wrapper .who-scheme ul.list-agents li a:visited
{
    text-decoration: none;
    color: #007dc3;
    border-bottom: 1px dashed #007dc3;
}

.center .who-bl .wrapper .who-scheme ul.list-agents li a:hover
{
    border-bottom: none;
}

.center .who-bl .wrapper .who-scheme ul.list-places
{
    text-align: left;
    position: absolute;
    top: 91px;
    left: 679px;
}

.center .who-bl .wrapper .who-scheme ul.list-places li
{
    list-style: none;
    height: 47px;
    font-size: 15px;
    color: #f47321;
}

.center .why-bl
{
    position: relative;
    background: url("../img/bg-02.png") repeat-x 0 0;
}

.center .why-bl .register
{
    z-index: 100;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    margin-left: -102px;
    width: 204px;
    top: -37px;
    height: 68px;
    background-image:url(../img/places/btn-reg-bg.png);
    background-repeat:no-repeat;
    background-position-y: -5px;
}

.center .why-bl .wrapper
{
    z-index: 99;
    padding: 60px 0px 50px 0px;
    text-align: center;
}

.center .why-bl .wrapper .blocks-container
{
    padding: 10px 0 0 0;
}

.center .why-bl .wrapper .blocks-container .block
{
    width: 250px;
    height: 222px;
    float: left;
    
    padding: 10px 10px 0px 10px;

    margin-bottom: 15px;
    
    margin-right: 50px;
    text-align: left;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-box-shadow: 1px 2px 2px #dbdbdb;
    -webkit-box-shadow: 1px 2px 2px #dbdbdb;
    box-shadow: 1px 2px 2px #dbdbdb;
    
    background: black;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#e1e1e1));
    background: -webkit-linear-gradient(#FFFFFF, #e1e1e1);
    background: -moz-linear-gradient(#FFFFFF, #e1e1e1);
    background: -ms-linear-gradient(#FFFFFF, #e1e1e1);
    background: -o-linear-gradient(#FFFFFF, #e1e1e1);
    background: linear-gradient(#FFFFFF, #e1e1e1); 
    -pie-background: linear-gradient(#FFFFFF, #e1e1e1); 
}

.center .why-bl .wrapper .blocks-container .last-in-row { margin-right: 0px; }

.center .why-bl .wrapper .blocks-container .block h1
{
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;    
    font-weight: bold;
    padding: 0 0 0 35px;
}

.center .why-bl .wrapper .blocks-container .block .icon { position: absolute; }

.center .why-bl .wrapper .blocks-container .block-1 .icon
{
    top: 10px;
    left: 0;
    background: url('../img/places/icons-why.png') no-repeat -3px -5px;
    width: 28px;
    height: 17px;
}

.center .why-bl .wrapper .blocks-container .block-2 .icon
{
    top: 5px;
    left: 8px;
    background: url('../img/places/icons-why.png') no-repeat -8px -28px;
    width: 19px;
    height: 26px;
}


.center .why-bl .wrapper .blocks-container .block-3 .icon
{
    top: 8px;
    left: 6px;
    background: url('../img/places/icons-why.png') no-repeat -8px -159px;
    width: 22px;
    height: 23px;
}


.center .why-bl .wrapper .blocks-container .block-4 .icon
{
    top: 8px;
    left: 6px;
    background: url('../img/places/icons-why.png') no-repeat -5px -65px;
    width: 25px;
    height: 25px;
}

.center .why-bl .wrapper .blocks-container .block-5 .icon
{
    top: 8px;
    left: 3px;
    background: url('../img/places/icons-why.png') no-repeat -6px -99px;
    width: 25px;
    height: 21px;
}

.center .why-bl .wrapper .blocks-container .block-6 .icon
{
    top: 10px;
    left: 3px;
    background: url('../img/places/icons-why.png') no-repeat -6px -131px;
    width: 26px;
    height: 19px;
}


.center .why-bl .wrapper .blocks-container .block p
{
    padding: 0 0 0 15px;
    margin: 0;
    font-size: 15px;    
    line-height: 130%;
}

.center .faq-bl
{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;  
    background-image:url(../img/places/icon-bar-bg.png);
    background-repeat: repeat-x;
}

.center .faq-bl .wrapper
{
    background-image:url(../img/places/icon-question.png);
    background-repeat:no-repeat;
    background-position: 440px 0px;
    padding: 60px 0 50px 0;
    text-align: center;
}

.center .faq-bl .wrapper h1
{
    padding-bottom: 30px;
}

.center .faq-bl .wrapper .qa
{
    text-align: left;
    padding: 0px 0px 50px 0px;
    font-size: 17px;
}


.center .faq-bl .wrapper .qa .question:before
{
    content: '— ';
}

.center .faq-bl .wrapper .qa .question
{

    font-style: italic;
    padding: 0px 0px 25px 0px;
}

.center .faq-bl .wrapper .qa .answer
{
    position: relative;
    margin-left: 20px;
    padding: 20px;
    background-color: #d3e9f6;  
    font-size: 14px;
}

.center .faq-bl .wrapper .qa .answer .arrow
{
    position: absolute;
    background-image:url(../img/places/answer-arrow.png);
    top: -11px;
    left: 115px; 
    width: 22px;
    height: 11px;   
}



.center .faq-bl .wrapper .more-questions-box
{
    position: relative;
    font-size: 19px;
    
    height: 42px;

    margin-left: 20px;
    padding: 23px 10px 0px 10px;

    text-align: center;
    
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    
    background: #ffffff;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eaeaea), to(#dddddd));
    background: -webkit-linear-gradient(#eaeaea, #dddddd);
    background: -moz-linear-gradient(#eaeaea, #dddddd);
    background: -ms-linear-gradient(#eaeaea, #dddddd);
    background: -o-linear-gradient(#eaeaea, #dddddd);
    background: linear-gradient(#eaeaea, #dddddd); 
    -pie-background: linear-gradient(#eaeaea, #dddddd); 
}

.center .faq-bl .wrapper .more-questions-box a:link,
.center .faq-bl .wrapper .more-questions-box a:visited
{
    color: #007dc3;
}

.center .faq-bl .wrapper .more-questions-box .arrow
{
    position: absolute;
    background-image: url(../img/places/more-q-arrow-down.png);
    top: 66px;
    left: 789px; 
    width: 26px;
    height: 12px;   
}

.center .bottom-bl
{
    margin-top: 20px;
    padding-top: 30px;
    height: 300px;
    border-top: 5px solid #e1e1e1;
}

.center .bottom-bl .wrapper .text-logo
{
    font-family: 'Helvetica-Roman';
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    height: 90px;
    text-align: right;
    padding: 10px 327px 0px 0px;
    background-image:url(../img/places/logo-bottom.png);
    background-repeat:no-repeat;
    background-position: 650px top;
    
}

.center .bottom-bl .wrapper .final-step
{
    padding-top: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 110%;
}

.center .bottom-bl .wrapper .btn
{
    padding-top: 25px;
    width: 187px;
    margin: 0 auto;
}


/* Scheme */

#how-it-works-scheme
{
    width: 940px;
    text-align:center;
}

#how-it-works-scheme.center .box-how-it-works-link
{
    margin: 0 auto;
    width: 600px;
    height: 33px;
    padding-top: 12px;
    font-size: 15px;    
    font-style:italic;
    border: 4px solid #e1e1e1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    text-align:center;
}

#how-it-works-scheme.center .box-how-it-works-link a:link,
#how-it-works-scheme.center .box-how-it-works-link a:visited
{
    color: #007cc3;
}