@charset "utf-8";
/* CSS Document */

/*-----\\-----*/

.center .wrapper .reg-bl
{
	width: 585px;
	margin: 0 auto;
	border: 6px solid #d0d0d0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	padding: 35px;
	margin-top: 55px;
	margin-bottom: 100px;
	position: relative;
}

.center .wrapper .reg-bl .icon-reg
{
	position: absolute;
	top: -32px; 
	left: 75px;
	background-image:url(../img/registration/icon-reg.png);
	background-repeat:no-repeat;
	width: 48px;
	height: 56px;
}

.center .wrapper .reg-bl a:link,
.center .wrapper .reg-bl a:visited
{
	color: #007dc3;
}


.center .wrapper .reg-bl a.help:link,
.center .wrapper .reg-bl a.help:visited
{
	text-decoration: none;
	border-bottom: 1px dotted #007dc3;
}


.center .wrapper .reg-bl h1
{
    font-family: 'Helvetica-Bold';
	font-size: 18px;	
	padding-left: 165px;
}


.center .wrapper .reg-bl .reg-form .row
{
	position: relative;
	padding: 0px 0px 7px 0px;	
	height: 46px;
}

.center .wrapper .reg-bl .reg-form .row .name
{
	left: 0px;
	top: 10px;
	position:absolute;
	width: 150px;
	font-size: 14px;
	text-align: right;
	color: #444444;
}

.center .wrapper .reg-bl .reg-form .row .field
{
	top: 0px;
	left: 150px;
	position:absolute;
	padding-left: 12px;
	font-weight: bold;
}

.center .wrapper .reg-bl .reg-form .row .field.radio
{
	width: 275px;
	height: 14px;
	margin-left: 12px;
	border: 1px solid #d7d7d7;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;

	top: 4px;
	padding: 10px 14px 10px 9px;
}

.center .wrapper .reg-bl .reg-form .row.checkbox
{
	height: 30px;
	margin-left: 10px;
}


.center .wrapper .reg-bl .reg-form .row .select
{
	top: 4px;
}


/* override default customized select style */
.center .wrapper .reg-bl .reg-form .row .select .switch
{
	font-size: 13px;
}


.center .wrapper .reg-bl .reg-form .row .select .dd a
{
	font-size: 13px;
}



.center .wrapper .reg-bl .reg-form .row .field #place
{
	margin-left: 25px;
}


.center .wrapper .reg-bl .reg-form .row .field input[type=text]
{
	border: 1px solid #e3e3e3;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	padding: 8px 14px;
	width: 271px;
	font-weight: bold;
	
}

.center .wrapper .reg-bl .reg-form .row .field input[type=radio]
{
	margin-top: -5px;
}

.center .wrapper .reg-bl .reg-form .row .field .btn-green-md
{
	margin-left: 0px;
}