@charset "utf-8";
/* CSS Document */

/*-----\\-----*/

.center .wrapper .login-bl
{
	width: 585px;
	margin: 0 auto;
	border: 6px solid #d0d0d0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	padding: 35px;
	margin-top: 55px;
	margin-bottom: 100px;
	position: relative;
}

.center .wrapper .login-bl .icon-login
{
	position: absolute;
	top: -37px; 
	left: 75px;
	background-image:url(../img/login/icon-login.png);
	background-repeat:no-repeat;
	width: 48px;
	height: 62px;
}

.center .wrapper .login-bl a:link,
.center .wrapper .login-bl a:visited
{
	color: #007dc3;
}

.center .wrapper .login-bl h1
{
    font-family: 'Helvetica-Bold';
	font-size: 18px;	
	padding-left: 165px;
}


.center .wrapper .login-bl .login-form .row
{
	position: relative;
	padding: 0px 0px 7px 0px;	
	height: 46px;
}

.center .wrapper .login-bl .login-form .row .name
{
	left: 0px;
	top: 10px;
	position:absolute;
	width: 150px;
	font-size: 14px;
	text-align: right;
	color: #444444;
}

.center .wrapper .login-bl .login-form .row .field
{
	top: 0px;
	left: 150px;
	position:absolute;
	padding-left: 12px;
	font-weight: bold;
}


.center .wrapper .login-bl .login-form .row.checkbox
{
	height: 30px;
	margin-left: 10px;
}



/* override default customized select style */
.center .wrapper .login-bl .login-form .row .select .switch
{
	font-size: 13px;
}


.center .wrapper .login-bl .login-form .row .select .dd a
{
	font-size: 13px;
}



.center .wrapper .login-bl .login-form .row .field #place
{
	margin-left: 25px;
}


.center .wrapper .login-bl .login-form .row .field input[type=text],
.center .wrapper .login-bl .login-form .row .field input[type=password]
{
	border: 1px solid #e3e3e3;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	padding: 8px 14px;
	width: 271px;
	font-weight: bold;
	
}

.center .wrapper .login-bl .login-form .row .field input[type=radio]
{
	margin-top: -5px;
}

.center .wrapper .login-bl .login-form .row .field .btn-gray-md
{
	margin-left: 0px;
}


.center .wrapper .login-bl .login-form .row .lost-pass
{
	top: 8px;
	position: absolute;
	left: 283px;
}

.center .wrapper .login-bl .login-form .row .lost-pass a:link,
.center .wrapper .login-bl .login-form .row .lost-pass a:visited
{
	font-size: 12px;
	color: #8c8c8c;
	font-style: italic;
}

.center .wrapper .login-bl .error-text
{
	color: #e25454;
	font-size: 14px;	
	line-height: 140%;
}

.center .wrapper .login-bl .exclamation
{
	left: 124px !important;
	top: -5px !important;
	background-image:url(../img/remember/icon-exclam.png);
	background-repeat:no-repeat;
	width: 100px;
	height: 100px;
}

