@charset "utf-8";
/* CSS Document */

/*-----\\-----*/

.center .wrapper .left-sitemap
{
	float: left;
	width: 280px;
	padding-bottom: 60px;
}

.center .wrapper .right-boxes
{
	float: right;
	width: 630px;
	padding-bottom: 60px;
}


.center .wrapper .left-sitemap 
{
	font-size: 19px;
}

.center .wrapper .left-sitemap li
{
	padding: 7px 0px;
}

.center .wrapper .left-sitemap ul
{
	list-style-type: none;
	padding: 0px 0px 0px 20px;
	font-weight: bold;	
}

.center .wrapper .left-sitemap ul ul
{
	font-weight: normal;
	list-style-type: disc;
	list-style-position: inside;
}

.center .wrapper .left-sitemap ul ul ul
{
	font-weight: normal;
	list-style-type: circle;
	list-style-position: inside;
}

.center .wrapper .left-sitemap a:link,
.center .wrapper .left-sitemap a:visited
{
	color: #007dc3;
	text-decoration: none;
}


.center .wrapper .left-sitemap a:hover
{
	text-decoration: underline;
	color: #f47321;
}


.center .wrapper .right-boxes .box .title
{
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 15px;
	padding-left: 34px;
}

.center .wrapper .right-boxes .box
{
	position: relative;
	font-size: 15px;
	float: left;
	width: 270px;
	padding-right: 40px;
	line-height: 150%;
}

.center .wrapper .right-boxes .agents .icon
{
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('../img/site-tree/icons.png') no-repeat -3px -1px;
	width: 22px;
	height: 25px;	
}

.center .wrapper .right-boxes .places .icon
{
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('../img/site-tree/icons.png') no-repeat -3px -35px;
	width: 25px;
	height: 20px;	
}

.center .wrapper .right-boxes .box .more
{
	padding-top: 15px;
}

.center .wrapper .right-boxes .box .more a:link,
.center .wrapper .right-boxes .box .more a:visited
{
	color: #007dc3;
}

